<div id="wrapper">
    <button><a href="http://localhost:3000/scrape">Scrape New Articles</a></button>
    <h1>Article Scrape</h1>
        
        <div id="articles">

        </div>

        <div id="notes">

        </div>
</div>



<script src="/js/app.js"></script>