<div class="jumbotron text-center">
        <h1>Article Scrape</h1>
        <button><a href="http://localhost:3000/scrape">Scrape New Articles</a></button>
    </div>
<div class="container">
    <div id="wrapper">
        <div id="articles"></div>
        <div id="notes"></div>
    </div>
</div>

<script src="/js/app.js"></script>